@model IEnumerable<Demo.Models.DepartmentModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách phòng ban</title>
</head>
<body>
    <h1>Danh sách Danh Mục</h1>
    <a href="@Url.Action("Create", "Department")">Thêm mới phòng ban</a>
    <table border="1">
        <thead>
            <tr>
                <th>Tên phòng ban</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a href="@Url.Action("Edit", "Department", new { id = category.Id })">Sửa</a> |
                        <a href="@Url.Action("Delete", "Department", new { id = category.Id })">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
