@{
	ViewData["Title"] = "About";
}


<!-- Start About -->
<div class="about-section-box">
	<div class="container" style="padding:90px">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<img src="~/images/about-img.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 text-center">
				<div class="inner-column">
					<h1>Welcome To <span>Homefood Restaurant</span></h1>
					<h4>Little Story</h4>
					<p>Chào mừng bạn đến với Homefood Restaurant, nơi hội tụ những món ăn ngon mang đậm hương vị gia đình. Mỗi món ăn đều được chế biến từ nguyên liệu tươi sạch, đảm bảo mang đến trải nghiệm ẩm thực tinh tế và đáng nhớ.</p>
					<p>Hãy ghé thăm chúng tôi để tận hưởng không gian ấm cúng, dịch vụ tận tình và thưởng thức những món ăn được chuẩn bị với tất cả tâm huyết. Tại Homefood, mỗi bữa ăn đều là một kỷ niệm.</p>

					<a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Đặt Chỗ</a>


				</div>

			</div>
			<div class="col-md-12">
				<div class="inner-pt">
					<p>"Mỗi món ăn tại Homefood được chế biến từ nguyên liệu tươi sạch, đảm bảo không chỉ ngon miệng mà còn an toàn và tốt cho sức khỏe."</p>
					<p> "Chúng tôi luôn tận tâm phục vụ, đảm bảo mang đến cho bạn những trải nghiệm tuyệt vời nhất với sự chu đáo và thân thiện trong từng chi tiết." </p>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- End About -->